---
on:
  push:
    branches:
      - "*"
    tags:
      - "v*.*.*"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Setup
        run: make setup

      - uses: pre-commit/action@v3.0.1
        env:
          SKIP: "no-commit-to-branch"

  molecule:
    runs-on: ubuntu-latest
    env:
      ANSIBLE_FORCE_COLOR: true
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Setup
        run: make setup

      - name: Molecule
        run: |
          molecule --debug test --scenario-name default

  semantic-release:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs:
      - pre-commit
      - molecule
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.CICD_APP_ID }}
          private-key: ${{ secrets.CICD_APP_PRIVATE_KEY }}

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v3
        env:
          GITHUB_TOKEN: "${{ steps.generate_token.outputs.token }}"
